.row-fluid
  .span4
    #chat_session
      .message-template
        %img{:src => ''}
        %span.author 
        %span.content
      #chat_window
        - if true &&  false
          .message
            = image_tag 'http://localhost:3000/system/clips/files/5285/496c/f047/adc8/b300/0017/original/confused.gif?1384466796'
            %span.author Ravi 
            %span.content im confused
      #chat_input
        = text_field :message, ''
  .span6
    #image_center
      .images
        - if false
          %img{:src => 'http://localhost:3000/system/clips/files/5285/496c/f047/adc8/b300/0017/original/confused.gif?1384466796/'}
          %img.chosen{:src => 'http://localhost:3000/system/clips/files/5285/496c/f047/adc8/b300/0017/original/confused.gif?1384466796/'}
          %img{:src => 'http://localhost:3000/system/clips/files/5285/496c/f047/adc8/b300/0017/original/confused.gif?1384466796/'}
      
