%h2= @room.name
.row-fluid
  .span4
    #chat_session
      .message-template
        %img{:src => ''}
        %span.author 
        %span.content
      #chat_window
      #chat_input
        = text_field :message, ''
  .span6
    #image_center
      .images

:javascript
  var RoomConfig = #{{"room_id" =>  @room.id }.to_json};
