// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat_session {
  

  .message-template {
    display: none;
  }


  #chat_window {
    overflow-y:scroll;
    height: 400px;
    border: 1px solid #ddd;
    padding: 10px;

    .message {
      img {
        display: block;
        padding: 5px;
      }
      background: #eee;
      margin: 2px;
      padding: 5px;
      span.author {
        font-weight: bold;
        color: green;
      }
    }
  }

  #chat_input {
    margin-top: 10px;
    input{
      width: 60%;
    }
  }

}

#image_center {
  padding: 10px;
  height: 200px;
  //border: 1px solid red;

  .images {
    img {
      display: block;
      margin: 10px;
      padding: 5px;
      border: 1px solid green;

      &.chosen {
        border: 2px solid orange;
      }
    }
  }
}
